.cart {
    position: sticky;
    top:0;
    padding: 30px 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.history {
    display: flex;
    background-color: whitesmoke;
    padding: 23px 23px;
    border-radius: 8px;
    /* gap :40px */
    justify-content: space-between;
}
.name {
    padding-left: 5px;
}
.break {
 display: flex;
gap: 25px;
background-color: whitesmoke;
    padding: 23px 23px;
    border-radius: 8px;
}
.exercise{
    display: flex;
    background-color: whitesmoke;
    padding: 23px 23px;
    border-radius: 8px;
    /* gap :40px */
    justify-content: space-between;
}
.break{
    display: flex;
    background-color: whitesmoke;
    padding: 23px 23px;
    border-radius: 8px;
    /* gap :40px */
    justify-content: space-between;
}